.bar{
    background-color: rgb(255, 145, 0);
    height: 70px;
    width: 50px;
}
.opbar{
    height: 70px;
    width: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.opbar a{
    margin-top: 20px;
}
.opbar:hover{
    cursor: pointer;
    background-color: rgb(56, 55, 55);
    color: #ff5500;
    transition: .2s  ease-in;

}
.titulo{
    background-color: rgb(253, 183, 78);
}
.carrusel{
    align-items: center;
}
.carruselimg{
    width: 98vw;
    height: 40rem;
}
.imad{
    width: auto;
    height: auto;
}